/**
 * Easy Admin Styling Setup
 */

html body.easy-admin-fixed {
  margin-top: 45px;
}

.easy-admin {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  width: auto;
  z-index:1000;
  font-family: 'Droid Sans', 'Helvetica Neue', arial, sans-serif;
  height: 45px;

  background-color: #222;
  background-color: rgba(0,0,0,.8);
/*  -moz-box-shadow: inset 0 0 10px #111;
  -webkit-box-shadow: inset 0 0 10px #111;
  box-shadow: inset 0 0 10px #111;
  border-bottom: 1px solid #000;*/
  border-bottom: 1px solid #312b2c;
}
.easy-admin + div {
  margin-top: 42px;
}

/* box sizing elements and transitions */

.easy-admin,
.easy-admin ul,
.easy-admin ul li,
.easy-admin ul li a,
.easy-admin ul li a:before,
.easy-admin ul li a i,
.easy-admin ul li span { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}



/* ------------------- */

.easy-admin ul.manager-menu {
  margin: 0 0 0 -1px;
  padding: 0;
  z-index: 999;
  width: auto;
  float: left;
  position: relative;
  display: block;
}
.easy-admin ul.user {
  margin: 0 0 0 -1px;
  padding: 0;
  z-index: 999;
  width: auto;
  float: right;
  position: relative;
  display: block;
}

/* User & Manager Menus */
.easy-admin > ul > li > a,
.easy-admin > ul > li > span {
  display: block;
  font-size: 13px;
  letter-spacing: .04em;
  line-height: 44px;
  padding: 0 12px;
  color: #ddd;
}
.easy-admin > ul ul a {
  display: block;
  color: #ccc;
  font-size: 13px;
}
.easy-admin ul.user > li,
.easy-admin ul.manager-menu > li {
  display: inline-block;
  border-left: 1px solid #312b2c;
  padding: 0;
  margin: 0;
  position: relative;
}
.easy-admin ul.manager-menu > li:last-child {
  border-right: 1px solid #312b2c;
}
.easy-admin ul.user > li > a:before,
.easy-admin ul.user > li > span:before,
.easy-admin ul.manager-menu > li > a:before,
.easy-admin ul.manager-menu > li > span:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  margin-right: 5px;
  color: #aaa;
}
.easy-admin ul.user > li > a:hover,
.easy-admin ul.manager-menu > li > a:hover {
  text-decoration: none;
}

/* User Menu */
.easy-admin ul.user > li:first-child > a:before {
  content: "\f007";
}
.easy-admin ul.user > li:last-child > a:before {
  content: "\f011";
}

/* Manager Menu */
.easy-admin ul.manager-menu ul {
  z-index: 999;
}
.easy-admin ul.manager-menu li ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  width: auto;
  z-index: 7000;
  width: 100%;
  opacity: 0;
}
.easy-admin ul.manager-menu li:hover ul {
  opacity: 1;
  max-height: 800px;
  overflow: visible;
}
.easy-admin ul.manager-menu li ul li {
  border-right: 1px solid #312b2c;
  border-left: 1px solid #312b2c;
  background-color: #111;
  width: 101.3%; /* Width to help Opera out */
}
.easy-admin ul.manager-menu li li {
  border-bottom: 1px solid #312b2c;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.easy-admin ul.manager-menu li li:hover a {
  box-shadow: inset 3px 0 0 #fff100;
}
.easy-admin ul.manager-menu li li a {
  line-height: 15px;
  padding: 8px 10px 8px 11px;
  line-height: 1.3em;
  font-size: 12px;
}

/* items - hover */
.easy-admin ul.manager-menu > li:hover > a,
.easy-admin ul.manager-menu > li:hover > span,
.easy-admin ul.user > li:hover > a,
.easy-admin ul.user > li:hover > span {
  background-color: #111;
  color: #fff;
}
.easy-admin > ul.manager-menu > li:hover > a:before,
.easy-admin > ul.manager-menu > li:hover > span:before,
.easy-admin > ul.user > li:hover > a:before,
.easy-admin > ul.user > li:hover > span:before {
  color: #fff100;
}
.easy-admin ul.manager-menu li:hover li a:hover {
  background-color: #111;
}
.easy-admin ul.manager-menu > li > a.no-link {
  cursor: default;
}

/* Reset round corners for submenu items  */
.easy-admin ul.manager-menu > li:hover > ul.manager-menu a {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.easy-admin ul.manager-menu li:hover ul {
  height: auto;
}
.easy-admin ul.manager-menu li li.first a {
  text-align: left;
  width: auto;
}
.easy-admin ul.manager-menu li:hover ul li ul {
  margin-left: 160px;
  top: 0px;
}
.easy-admin ul.manager-menu li.home > a {
  background-repeat: no-repeat;
  text-indent: 0;
}

/* Icons */
.easy-admin ul.manager-menu li:nth-child(1) span:before,
.easy-admin ul.manager-menu li:nth-child(1) a:before {
  content: "\f0e4";
}
.easy-admin ul.manager-menu li:nth-child(2) span:before,
.easy-admin ul.manager-menu li:nth-child(2) a:before {
  content: "\f200";
}
.easy-admin ul.manager-menu li:nth-child(3) span:before,
.easy-admin ul.manager-menu li:nth-child(3) a:before {
  content: "\f0eb";
}
.easy-admin ul.manager-menu li:nth-child(4) span:before,
.easy-admin ul.manager-menu li:nth-child(4) a:before {
  content: "\f0eb";
}
.easy-admin ul.manager-menu li:nth-child(5) span:before,
.easy-admin ul.manager-menu li:nth-child(5) a:before {
  content: "\f0c0";
}
.easy-admin ul.manager-menu li.home span:before,
.easy-admin ul.manager-menu li.home a:before {
    content: "\f015";
}
.easy-admin ul.manager-menu li.logout span:before,
.easy-admin ul.manager-menu li.logout a:before {
    content: "\f08b";
}

.easy-admin ul.manager-menu li ul li a:before {
  display: none !important;
}
.easy-admin ul.manager-menu li.logout {
  float: right;
}

/* eXo patch */
html.exo-exists #exo-wrapper {
  margin-top: -42px;
}

/* media queries */
@media 
(-webkit-min-device-pixel-ratio: 1.25), 
(min-resolution: 120dpi){ 
  .easy-admin > ul > li > a,
  .easy-admin > ul > li > span {
    font-size: 16px;
    line-height: 50px;
  }
  .easy-admin > ul ul a {
    font-size: 14px;
  }
  .easy-admin {
    height: 50px;
  }
}

@media only screen and (min-width : 1025px) {
  .easy-admin ul.user > li > span,
  .easy-admin ul.user > li > a,
  .easy-admin ul.manager-menu li a,
  .easy-admin ul.manager-menu span.nolink {
    text-transform: uppercase;
    font-weight: 400;
  }
}
